aiogram==3.6.0
SQLAlchemy==2.0.36
asyncpg==0.29.0
alembic==1.13.2
pydantic
pydantic-settings
python-dotenv==1.0.1
aiofiles==23.2.1
Pillow==10.4.0
loguru==0.7.2
pytest==8.3.2
pytest-asyncio==0.23.8
pytest-cov==5.0.0
